/*****************************************************************************/
/*DEFAULT STYLES*/
html{
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  background-color: White;
}

body{
  color: White;
  line-height: 1.4;
  margin: 0;
}

h1{
  font-size: 2rem;
  color: Black;
  font-weight: bold;
  line-height: 1.2;
  padding: 1.5rem 5rem;
}

h2{
  font-size: 1rem;
  font-weight: bold;
  background-color: cadetblue;
  width: 10rem;
  padding: 0.5rem 1.25rem;
}

p{
  color: black;
  margin-top: 1rem;
}

.container{
  max-width: 960px;
  margin: 0 auto;
}

/*****************************************************************************/
/*HEADER STYLES*/

header{
  background-image: url("./../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  padding-top: 1rem;
}

/*Navigation Bar*/
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: cadetblue;
  padding: 1rem 0;
}

.company{
  display: flex;
  align-items: center;
}

.company img{
  height: 1.5rem;
  margin: auto 1rem auto 2rem;
}

ul{
  margin-right: 1rem;
}

li{
  display: inline;
  padding: 0 1rem;
}

.mobile-nav{
  display: none;
}

/*Slogan Box*/

.banner{
  display: flex;
  justify-content: flex-end;
}

.slogan{
  background-color: White;
  margin-top: 10rem;
  margin-right: -2rem;
}

/*****************************************************************************/
/*CONTENTS STYLES*/

.services,
.information{
  display: flex;
  justify-content: center;
}

.service,
.info{
  display: flex;
  flex-direction: column;
}

.service{
  justify-content: space-between;
  align-items: center;
  text-align: center;
  max-height: 8rem;
  width: 5rem;
  margin: 3rem;
}

.service img{
  width: 5rem;
}

#exam img{
  width: 3.5rem;
}


.info{
  width: 35%;
  margin-right: 5%;
  margin-bottom: 5rem;
}

/*****************************************************************************/
/*FOOTER STYLES*/

footer{
  display: flex;
  align-items: center;
  background-color: azure;
  padding: 4rem 2rem;
}

footer .company{
  color: Black;
}

footer img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

/*****************************************************************************/
/*MEDIA STYLES*/

@media only screen and (max-width: 1024px){
  header{
    height: 22rem;
    padding-top: 0;
  }

  .container{
    max-width: 100%;
  }

  .slogan{
    background-color: White;
    margin-top: 5rem;
    margin-right: 2rem;
  }

  h1{
    font-size: 1.33rem;
    line-height: 1.2;
    padding: 0.75rem 4rem;
  }
}

@media only screen and (max-width: 700px){

  .desktop-nav{
    display: none;
  }

  .mobile-nav{
    display: block;
  }
}

@media only screen and (max-width: 640px){
  header{
    height: 17rem;
  }

  .slogan{
    background-color: White;
    margin: 9rem auto auto auto;
    width: 100%;
  }

  h1{
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
  }

  .services,
  .information{
    flex-direction: column;
    align-items: center;
    margin: 2.23rem auto 3.77rem auto;
  }

  .service{
    margin: 1.54rem auto 0 auto;
  }

  .info{
    width: 100%;
    margin: 0 0 4rem 0;
  }

  h2{
    width: 100%;
    padding: 0.5rem 0;
    text-align: center;

  }

  p{
    font-size: 0.77rem;
  }

  footer{
    justify-content: center;
  }

  footer span{
    display: none;
  }
}
