/*****************************************************************************/
/*DEFAULT STYLES*/
html{
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  background-color: White;
}

body{
  color: White;
  line-height: 1.4;
  margin: 0;
}

h1{
  font-size: 2rem;
  color: Black;
  font-weight: bold;
  line-height: 1.2;
  padding: 1.5rem 5rem;
}

h2{
  font-size: 1rem;
  font-weight: bold;
  background-color: cadetblue;
  width: 10rem;
  padding: 0.5rem 1.25rem;
}

p{
  color: black;
  margin-top: 1rem;
}

.container{
  max-width: 960px;
  margin: 0 auto;
}

/*****************************************************************************/
/*HEADER STYLES*/

header{
  background-image: url("./../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  padding-top: 1rem;
}

/*Navigation Bar*/
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: cadetblue;
  padding: 1rem 0;
}

.company{
  display: flex;
  align-items: center;
}

.company img{
  height: 1.5rem;
  margin: auto 1rem auto 2rem;
}

ul{
  margin-right: 1rem;
}

li{
  display: inline;
  padding: 0 1rem;
}

/*Slogan Box*/

.banner{
  display: flex;
  justify-content: flex-end;
}

.slogan{
  background-color: White;
  margin-top: 10rem;
  margin-right: -2rem;
}

/*****************************************************************************/
/*CONTENTS STYLES*/

.services,
.information{
  display: flex;
  justify-content: center;
}

.service,
.info{
  display: flex;
  flex-direction: column;
}

.service{
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 8rem;
  width: 5rem;
  margin: 3rem;
}

.service img{
  width: 5rem;
}

#exam img{
  width: 3.5rem;
}


.info{
  width: 35%;
  margin-right: 5%;
}
